body{
  font-family: 'roboto';  
}

h1{
    font-size: 70px;
    line-height: 75px;
}
h2{
    font-size: 60px;
    line-height: 65px;
}
h3{
    font-size: 40px;
    line-height: 45px;
}
h4{
    font-size: 25px;
    line-height: 28px;
}
h5{
    font-size: 16px;
    line-height: 20px;
}

.left_background_color{
background-color: #F1E7DF;
}
.left-side-font{
    font-family: monospace;
}
.resume_head{
    color: white;
}




/* For Desktop View */
@media screen and (min-width: 1024px) {
    .container{
        width: 1100px;
    }
  }
   
  /* For Tablet View */
  @media screen and (min-device-width: 768px)
  and (max-device-width: 1024px) {

  }
   
  /* For Mobile Portrait View */
  @media screen and (max-device-width: 480px)
  and (orientation: portrait) {
  
  }
   
  /* For Mobile Landscape View */
  @media screen and (max-device-width: 640px)
  and (orientation: landscape) {
   
  }